{% extends "base.html" %}
{% block topnav %}
  
  <div class="topnav">
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'newLocation' %}">New location</a>
    <a href="{% url 'newData' %}">Add Data</a>
    <a class="active" href="{% url 'liveStatus' %}">Live Status</a>
    <br>
  </div>
{% endblock %}
{% block content %}
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;    
    }
    </style>
    </head>
    <body>
    <center>
        <h2>Current Status</h2>
        <font color="green">
            <p>The System is Online</p>
        </font>
        <table style="width:100%">
        <tr>
            <th>Name</th>
            <th colspan="2">Status</th>
        </tr>
        <tr>
            <td>location</td>
            <td>{{loc}}</td>
            <td>Location ID:{{object.lId}}</td>
        </tr>
        <tr>
            <td>Last Update</td>
            <td>{{object.time}}</td>
        </tr>
        <tr>
            <td>Temperature</td>
            <td>{{object.temperature}}</td>
        </tr>
        <tr>
            <td>Humidity</td>
            <td>{{object.humidity}}</td>
        </tr>
        </table>
    </center>
{% endblock content %}